<footer py-3 my-4>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="./pag/acerca.html" class="nav-link px-2 text-muted">Nosotros</a></li>
        <li class="nav-item"><a href="./pag/contatos.html" class="nav-link px-2 text-muted">Contactos</a></li>
        <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Ubicacion</a></li>
        <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Telefonos</a></li>
        <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Email</a></li>
    </ul>
    <p class="text-center text-muted">© <span id="currentYear"></span> -Sonrie-Bolivia-2024</p>
  </footer>