<header class="hero">
    <nav class="nav container">
        <div class="nav_logo">
            <h2 class="nav_title">Sonrie Bolivia</h2>
        </div>
        <ul class="nav_link nav_link_menu">
            <li class="nav_items">
                <a href="#" class="links">Inicio</a>
            </li>
            <li class="nav_items">
                <a href="../../assets/nosotro.html" class="links">Nosotros</a>
            </li>
            <li class="nav_items">
                <a href="./pag/contatos.html" class="links">Contacto</a>
            </li>
            <li class="nav_items">
                <a href="./pag/blog.html" class="links">Servicios</a>
            </li>

            <img src="../img/x-circle.svg" alt="" class="nav_close">
        </ul>
        <div class="nav_menu">
            <img src="../img/menuhor.svg" alt="" class="nav_img">
        </div>
    </nav>
    <section class="hero_container container">
        <h1 class="hero_title">Solucion definitiva a tus Problemas Dentales.</h1>
        <p class="paragrafo">Somos la mejor para la opcion para la restauracion de tu sonrisa.</p>
            <a href="./pag/contatos.html" class="cta">Contactanos Ahora</a>
    </section>
</header>
